{% extends 'admin/base_admin.html' %}

{% block admin_title %}Thêm người dùng mới{% endblock %}

{% block admin_content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Thông tin người dùng</h5>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="username" class="form-label">Tên người dùng</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="password" class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="role" class="form-label">Vai trò</label>
                        <select class="form-select" id="role" name="role" required>
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div style="padding-bottom: 20px;"><button type="submit" class="btn btn-primary" style="width: 190px;">
                        <i class="fas fa-save"></i> Lưu
                    </button></div>

                <a href="{{ url_for('admin.users') }}" class="btn btn-secondary" style="width: 190px;">
                    <i class="fas fa-arrow-left"></i> Quay lại
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}