{% extends 'admin/base_admin.html' %}

{% block admin_title %}Quản lý bài viết{% endblock %}

{% block admin_content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Danh sách bài viết</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all-posts"></th>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Tác giả</th>
                        <th>
                            <div class="d-flex align-items-center">
                                Ngày tạo
                                <div class="ms-2">
                                    <select id="sort-posts" class="form-select form-select-sm">
                                        <option value="newest">Mới nhất</option>
                                        <option value="oldest">Cũ nhất</option>
                                    </select>
                                </div>
                            </div>
                        </th>
                        <th>
                            <button type="button" class="btn btn-danger" id="delete-selected-posts">
                                <i class="fas fa-trash"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td><input type="checkbox" class="select-post" value="{{ post['id'] }}"></td>
                        <td>{{ post['id'] }}</td>
                        <td>{{ post['title'] }}</td>
                        <td>{{ post['author_email'] }}</td>
                        <td>{{ post['created'].strftime('%Y-%m-%d %H:%M') }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} 